# Jekyll
_site
.jekyll-cache

# OS Files
.DS_Store
pages/.DS_Store
assets/.DS_Store

# Legacy Notes
pages/tags.md
_notes/Private/

# Obsidian
.obsidian/
**/.obsidian/

# MakeMD
.makemd/
**/.makemd/
*.mdb

# Space files
.space/
