<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap">

    <!-- Load JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="{{ '/assets/js/animate-asterisk.js' | relative_url }}"></script>


    <!-- Open Graph Tags -->
    <meta property="og:image" content="https://publicknowledge.co/pk-og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:title" content="Public Knowledge Studio">
    <meta property="og:description"
        content="Public Knowledge is a design studio that makes technology work for humans. We specialise in interactive, hand-crafted web and app experiences that feel uniquely yours.">
    <meta property="og:url" content="https://publicknowledge.co">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Public Knowledge Studio">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pblcknw">
    <meta name="twitter:creator" content="@pblcknw">


    <title>Public Knowledge</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>