<div class="startup-card">
    <div class="startup-card-content">
        <h2 class="startup-title">Are you a startup rocketship?</h2>
        <p class="startup-description">Today looked different from yesterday. Tomorrow will look different from today.
        </p>
        <p class="startup-description">You need to move fast. We can be your strategic design partner for whatever you
            need. Polish your pitch. Price your product. Launch the site. Relaunch it, this time even better. Build the
            app. Go viral. Celebrate. Then do it all again. With us.</p>

        {% include ContactButton.html %}

    </div>
    <div class="startup-card-image">
    </div>
</div>