<div class="startup-card">
    <div class="startup-card-content">
        <h1 class="startup-title">Are you a startup at the beginning of a rocketship growth curve?</h1>

        <div class="cta-avatars mg-top-6xl">
            <img src="assets/img/team-charu.jpg" alt="Team member 1" class="cta-avatar">
            <img src="assets/img/team-gyan.jpg" alt="Team member 2" class="cta-avatar">
        </div>
        <p class="startup-description">Our team specializes in solving the ambiguous, varied problems startups face as they go from 0 → 1. We can work with you to envision your brand, sharpen your product, and set up systems for scale - and anything else you need.</p>

        {% include ContactButton.html content="Book a free consultation." %}
        <div class="sans text-sm text-secondary mg-top-md text-less-tight opacity-60">
            We'd like to learn more about your startup and discuss how we can help. We're available to start new projects October 2025 onwards.
        </div>
    </div>
    <div class="startup-card-image">
    </div>
</div>