<div class="startup-card">
    <div class="startup-card-content">
        <h1 class="startup-title">Are you a startup at the beginning of a rocketship growth curve?</h1>

        <div class="cta-avatars mg-top-6xl">
            <img src="assets/img/team-charu.jpg" alt="Team member 1" class="cta-avatar">
            <img src="assets/img/team-gyan.jpg" alt="Team member 2" class="cta-avatar">
        </div>
        <p class="startup-description">We can work with you to sharpen your product, clarify your brand, and set up systems for scale.</p>

        {% include ContactButton.html content="Book a free consultation" %}

    </div>
    <div class="startup-card-image">
    </div>
</div>