<a href="/team" class="section-title">The Team</a>

{% assign sorted_team = site.team | where: 'feed', 'show' | sort: 'order' %}
<div class="team-container">
    {% for member in sorted_team %}
    <a href="{{ member.url }}">
        <div class="team-card" style="background-image: url({{ member.image }})">
            <div class="team-card-content">
                <div class="team-name">{{ member.title }}</div>
                <div class="team-description sans secondary">{{ member.role }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>