<div class="section-title">The Work</div>

<div class="project-container">
    {% for project in site.projects %}
        <a class="project curl" href="{{ project.url }}" rel="noopener">
            <img class="project-thumbnail" src="{{ project.thumbnail }}" alt="" style="view-transition-name: {{ project.title | remove_spaces }};">
            <div class="project-title">{{ project.title }}</div>
            <div class="project-description">{{ project.description }}</div>
            <div class="tag-container">
                {% for tag in project.tags %}
                <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>
        </a>
    {% endfor %}
</div> 