<div class="section-title">The Work</div>

<div class="project-container">
    {% assign sorted_projects = site.projects | sort: 'order' %}
    {% for project in sorted_projects %}
        <a class="project" href="{{ project.url }}" rel="noopener">
            <img class="project-thumbnail" src="{{ project.thumbnail }}" alt="">
            <div class="project-title project-description-mobile-padding" style="view-transition-name: title-{{ project.title | replace: ' ', '' }};">{{ project.title }}</div>
            <div class="project-description project-description-mobile-padding">{{ project.subtitle }}</div>
            <div class="tag-container project-description-mobile-padding">
                {% for tag in project.tags %}
                <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>
        </a>
    {% endfor %}
</div> 