.blog .img-carousel {
    width: var(--blog-image-width);
}

.blog-container {
    position: relative;
    z-index: 10 !important;
    background-color: var(--background-color);
    margin-top: var(--header-image-height-desktop);
    padding-top: var(--spacing-lg);
    overflow-x: hidden;
}

.page-header-image {
    width: 100vw;
    height: calc(var(--header-image-height-desktop) + 10vh);
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: var(--accent-color);
}

.project-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: var(--spacing-2xl);
    margin-bottom: var(--spacing-3xl);
    width: var(--blog-para-width);
}

.img-grid-fullwidth {
    margin: 0 var(--spacing-lg);
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: var(--spacing-lg);
}


.img-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: var(--blog-image-width);
    max-width: var(--max-width);
    gap: var(--spacing-2xl);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: var(--spacing-2xl) auto;
}

.img-grid img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--border-radius-md);
    /* Or whatever suits your layout */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blog {
    position: relative;
    z-index: 10 !important;
    padding-bottom: var(--spacing-4xl);
    line-height: var(--line-height-sans-loose);
    font-size: var(--font-size-sm);
    letter-spacing: var(--letter-spacing-regular);
}

.blog a {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
    text-decoration-color: var(--black-20);
    color: var(--text-reg);
    transition: var(--transition-fast);
}

.blog a:hover {
    color: var(--text-reg);
    text-decoration-color: var(--accent-color);
    text-underline-offset: 6px;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    width: var(--blog-para-width);
    max-width: var(--max-width-desktop);
    margin-top: var(--spacing-4xl);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-stack-sans);
}

.blog p {
    width: var(--blog-para-width);
    max-width: var(--max-width-desktop);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-stack-serif);
}

.blog p img {
    width: var(--blog-image-width);
    max-width: var(--max-width-desktop);
    margin-top: var(--spacing-2xl);
    margin-left: calc((var(--blog-para-width) - var(--blog-image-width)) / 2);
    margin-right: calc((var(--blog-para-width) - var(--blog-image-width)) / 2);
    display: block;
    border-radius: var(--border-radius-md);
}


.blog ul,
.blog ol {
    font-family: var(--font-stack-serif);
    width: calc(var(--blog-para-width) + 2.5em);
    max-width: var(--max-width-desktop);
    margin: auto;
}

.blog li p {
    margin-left: 0;
}

figure {
    width: 100vw;
    margin: 0;
}

figure image {
    width: 100vw;
    height: auto;
}

figcaption {
    font-family: var(--font-stack-sans);
    width: var(--width-desktop);
    max-width: var(--max-width);
    margin: auto;
}

/* Breakpoint */
@media (max-width: 800px) {

    .blog-container {
        margin-top: var(--header-image-height-mobile);
    }

    .page-header-image {
        height: calc(var(--header-image-height-mobile) + 8vh);
    }

    .img-grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: var(--width-mobile);
        gap: var(--spacing-lg);
        margin: var(--spacing-lg) auto;
    }

    .project-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-md) auto var(--spacing-4xl) auto;
    }

    .blog h1 {
        display: block;
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-3xl) auto var(--spacing-lg) auto;
        padding: 0;
    }

    .blog h1+p {
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-lg) auto var(--spacing-3xl) auto;
        display: block;
        padding: 0;
        font-size: var(--font-size-md);
    }

    .blog h2 {
        display: block;
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-3xl) auto var(--spacing-lg) auto;
        padding: 0;
    }

    .blog h2+p {
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-lg) auto var(--spacing-3xl) auto;
        display: block;
        padding: 0;

    }

}