.blog-container {
    position: relative;
    z-index: 10 !important;
    background-color: var(--background-color);
    margin-top: var(--header-image-height-desktop);
    padding-top: var(--spacing-lg);
    box-shadow: 0px -4px 12px rgba(0, 0, 0, .1);
}

.page-header-image {
    width: 100vw;
    height: calc(var(--header-image-height-desktop) + 10vh);
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.project-header {
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-2xl);
    margin-bottom: var(--spacing-3xl);
}

.img-grid-fullwidth {
    margin: 0 var(--spacing-lg);
    display: grid;
    grid-auto-flow: column;
    align-items: stretch;
    gap: var(--spacing-lg);
}


.img-grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--width-desktop);
    max-width: var(--max-width);
    gap: var(--spacing-2xl);
    box-sizing: border-box;
    margin: var(--spacing-2xl) auto;
}

.img-grid img {
    flex: 1 1 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-md);
    /* Or whatever suits your layout */
    box-sizing: border-box;
}

.img-carousel {
    width: var(--width-desktop);
    max-width: var(--max-width-desktop);
    display: flex;
    flex-direction: row;
}

.blog {
    position: relative;
    z-index: 10 !important;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    text-transform: uppercase;
    width: var(--width-desktop);
    max-width: var(--max-width-desktop);
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-size-lg);
}

.blog h1 {
    display: inline-block;
    width: 40vw;
    margin-top: var(--spacing-4xl);
    margin-bottom: var(--spacing-3xl);
    margin-left: 10vw;
    vertical-align: top;
}

.blog h1+p {
    margin-top: var(--spacing-4xl);
    margin-bottom: var(--spacing-3xl);
    display: inline-block;
    padding-left: calc(var(--spacing-2xl) / 2);
    width: 38vw;
}


.blog p {
    width: var(--width-desktop);
    max-width: var(--max-width-desktop);
    margin-left: auto;
    margin-right: auto;
}

.blog ul,
.blog ol {
    width: calc(var(--width-desktop) + 2.5em);
    max-width: var(--max-width-desktop);
    margin: auto;
}

.blog li p {
    margin-left: 0;
}

figure {
    width: 100vw;
    margin: 0;
}

figure image {
    width: 100vw;
    height: auto;
}

figcaption {
    font-family: var(--font-stack-sans);
    width: var(--width-desktop);
    max-width: var(--max-width);
    margin: auto;
}

/* Mobile Styles */
@media (max-width: 800px) {

    .blog-container {
        margin-top: var(--header-image-height-mobile);
    }

    .page-header-image {
        height: calc(var(--header-image-height-mobile) + 8vh);
    }

    .img-grid {
        flex-direction: column;
        width: var(--width-mobile);
        gap: var(--spacing-lg);
        margin: var(--spacing-lg) auto;
    }

    .project-header {
        flex-direction: column;
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-md) auto var(--spacing-4xl) auto;
    }

    .blog h1 {
        display: block;
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-3xl) auto var(--spacing-lg) auto;
        padding: 0;
    }

    .blog h1+p {
        width: calc(var(--width-mobile) - var(--spacing-2xl));
        max-width: var(--max-width);
        margin: var(--spacing-lg) auto var(--spacing-3xl) auto;
        display: block;
        padding: 0;
    }

}