---
layout: base
---

{% include logo.html %}

<div class="top-right">
    {% include ContactButton.html content="Talk to us about your project" %}
    Public Knowledge Studio is an India-based design studio focused on crafting technology with care. We build
    interfaces and experiences with precision, personality, and purpose.
</div>

<div class="controls-panel display-none" id="controls-panel">
    <div class="control-group">
        <label for="arms">Arms: <span id="arms-value"></span></label>
        <input type="range" id="arms" min="" max="12" value="8">

        <label for="length">Length: <span id="length-value"></span></label>
        <input type="range" id="length" min="1" max="100" value="18">

        <label for="width">Width: <span id="width-value"></span></label>
        <input type="range" id="width" min="1" max="800" value="16">
    </div>
</div>

<div id="video-container" class="rotateIn">
    <div id="clip-path-wrapper"></div>
    <video id="masked-video" autoplay playsinline loop muted></video>
</div>

<div class="scroll-tip square-button">
    SCROLL TO START
</div>

<div class="container">
    <div class="section-title">About</div>
    <div id="animate-words" class="huge-text">
        We believe technology should feel human. We specialise in thoughtful, handcrafted digital experiences that
        help organisations turn complexity into clarity—and ideas into impact.
    </div>

    {% include StartupCard.html %}
    {% include services.html %}
    {% include work.html %}
    {% include team.html %}
    {% include quote.html %}
</div>

{% include scripts.html %} 