---
layout: base
---

<div class="column is-6-widescreen is-8-desktop is-8-tablet is-12-mobile">
    <h5 class="meta-title"><a href="/">← Home</a></h5>
    <div class="jumbo">{{page.title}}</div>
    {%- include Content.html -%}
    {% for project in site.projects %}
    <div class="list-feed">
        <a href="{{ site.baseurl }}{{project.url}}"
            style="text-decoration: none;display: flex;justify-content: space-between;flex-direction: row;width: 100%;">
            <div class="writinglist-title">{{project.title }}</div>
        </a>
    </div>
    {%- endfor -%}
</div> 