{% include head.html %}

<body>

    {% include logo.html %}
    <img class="page-header-image" src="{{ page.header | default: page.thumbnail }}" alt="{{ page.title }}">

    <div class="blog-container">
        <div class="project-header container-width">
            <div class="flex-2">
                <h1 class="mbs-0 sans uppercase" style="view-transition-name: title-{{ page.title | replace: ' ', '' }};">{{
                    page.title }}
                    {% if page.external_url %}
                    <a class="superscript sans inline hover-accent" href="{{ page.external_url }}" target="_blank" rel="noopener">[LIVE SITE
                        &nearr;]</a>
                    {% endif %}
                </h1>
                <p class="sans uppercase">
                    IN {{ page.date | date: "%B %Y" }}
                    <br> BY 
                    {% assign team = page.team %}
                    {% for person in team %}
                      {% assign index = forloop.index0 %}
                      {% assign last_index = team.size | minus: 1 %}
                      {% if index == 0 %}
                      {% else %} + {% endif %}
                      {{ person }}
                    {% endfor %}
                </p>
            </div>
            <div class="flex-1">
                <p class="mbs-0">{{ page.subtitle }}</p>
                <div class="tag-container">
                    {% for tag in page.tags %}
                    <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="blog">
            {{ content }}
        </div>
    </div>

</body>

{% include footer.html %}

<script>

var headerImage = document.querySelector('.page-header-image');
var headerImageHeight = (headerImage.offsetHeight / window.innerHeight) * 100;
var browserHeight = window.innerHeight;

  window.addEventListener('scroll', function() {
    if (window.scrollY < browserHeight) {
      headerImage.style.height = (headerImageHeight + window.scrollY / 32) + 'vh';
    }
  });
</script>


</html>