---
layout: base
---

<div class="section-title">Projects tagged: {{ page.tag }}</div>


<div class="project-container">
    {% assign tagged_projects = site.projects | where_exp: "project", "project.tags contains page.tag" | sort: 'order' %}
    {% for project in tagged_projects %}
        <a class="project" href="{{ project.url }}" rel="noopener">
            <img class="project-thumbnail" src="/{{ project.thumbnail }}" alt="{{ project.title }} thumbnail">
            <div class="project-title project-description-mobile-padding" style="view-transition-name: title-{{ project.title | replace: ' ', '' }};">{{ project.title }}</div>
            <div class="project-description project-description-mobile-padding">{{ project.subtitle }}</div>
            <div class="tag-container project-description-mobile-padding">
                {% for tag in project.tags %}
                <div class="tag">{{ tag }}</div>
                {% endfor %}
            </div>
        </a>
    {% endfor %}
</div>
