{% include head.html %}

<body>

    {% include logo.html %}

    <header class="team-member-header">
        <h1 class="mg-top-6xl sans uppercase"
            style="view-transition-name: title-{{ page.title | replace: ' ', '' }};">{{
            page.name }}
        </h1>
        <img src="{{ page.image }}" alt="{{ page.name }}" class="team-member-photo" style="width: 200px; height: 200px;">
    </header>

    <section class="team-member-bio">
        <div class="blog">
            {{ content }}
        </div>
    </section>

    <section class="team-member-projects">
        <h2>Projects</h2>
        {% for project in site.projects %}
        {% if project.team contains page.name %}
        <div class="project-container">
            <a href="{{ project.url }}">
                <img height="200px" width="200px" src="{{ project.thumbnail }}" alt="{{ project.title }}">
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </section>

</body>

{% include footer.html %}

</html>