{% include head.html %}

<body>

    {% include site-nav.html %}

    <div class="container-width">
        <div class="team-member-main">
            <div class="team-member-photo-col">
                <img src="{{ page.image }}" alt="{{ page.name }}" class="team-member-photo">
            </div>
            <div class="team-member-info-col">
                <h1 class="sans uppercase mbs-0 mbe-0"
                    style="view-transition-name: title-{{ page.title | replace: ' ', '' }};">
                    {{ page.title }}
                </h1>
                <div class="team-member-socials">
                    {% if page.portfolio %}<a href="{{ page.portfolio }}" class="tag">Portfolio</a>{% endif %}
                    {% if page.instagram %}<a href="{{ page.instagram }}" class="tag">Instagram</a>{% endif %}
                    {% if page.twitter %}<a href="{{ page.twitter }}" class="tag">X</a>{% endif %}
                    {% if page.linkedin %}<a href="{{ page.linkedin }}" class="tag">LinkedIn</a>{% endif %}
                    {% if page.medium %}<a href="{{ page.medium }}" class="tag">Medium</a>{% endif %}
                </div>
                <div class="team-member-bio-text">
                    {{ content }}
                    {% if page.name == 'Charu Pragya' %}
                    {% include ContactButton.html content="Set up an Introduction" %}
                    {% endif %}
                </div>
            </div>
        </div>



        {% assign member_projects = site.projects | where_exp: "project", "project.team contains page.name" %}
        {% if member_projects.size > 0 %}
        <section class="team-member-projects flex-col gap-4xl">
            <div class="section-title">Projects</div>
            <div class="project-container">
                {% for project in member_projects %}
                {% if project.external_url %}
                <a class="project" href="{{ project.external_url }}" rel="noopener">
                    {% else %}
                    <div class="project">
                        {% endif %}
                        <img class="project-thumbnail" src="{{ project.thumbnail }}" alt="{{ project.title }}">
                        <div class="project-title project-description-mobile-padding"
                            style="view-transition-name: title-{{ project.title | replace: ' ', '' }};">
                            {{ project.title }}
                        </div>
                        <div class="project-description project-description-mobile-padding">{{ project.subtitle }}</div>
                        <div class="tag-container project-description-mobile-padding">
                            {% for tag in project.tags %}
                            <div class="tag">{{ tag }}</div>
                            {% endfor %}
                        </div>
                        {% if project.external_url %}
                </a>
                {% else %}
            </div>
            {% endif %}
            {% endfor %}
    </div>
    </section>
    {% endif %}
    </div>

</body>

{% include footer.html %}

</html>